#search-layout {
  width: 100vw;
  height: 180px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#content {
  height: 100%;
}

#header {
  flex-basis: 100px;
  flex-shrink: 0;
  position: relative;
}